@use "src/styles/helpers/media";
@use "src/styles/helpers/functions";

body {
   font-size: functions.rem(16);
   font-family: $f-base;
}

.main {
   background-color: $c-grey100;
   color: $c-grey00;
}
