@use "src/styles/helpers/media";
@use "src/styles/helpers/functions";

.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 15px;
   padding-block: 10px;

   @include media.md-up {
      padding-block: 15px;
      gap: 25px;
   }

   @include media.lg-up {
      padding-block: 20px;
   }
}

.header__apple {
   @include media.md-down {
      margin-right: auto;
   }
}

.header__icon {
   font-size: functions.rem(36px);
   color: $c-grey00;
   transition: color 0.1s ease-in;
   cursor: pointer;

   &:hover {
      color: $c-grey70;
   }

   &::before {
      margin: 0;
   }
}

.header__icon-img {
   min-width: 30px;
   cursor: pointer;
   aspect-ratio: 1;
}

.header__nav {
   display: flex;
   flex-direction: row;
   gap: 25px;
   align-items: center;

   @include media.md-down {
      flex-direction: column;
      gap: 35px;
      position: fixed;
      right: $pi-container-xs;
      left: $pi-container-xs;
      border-radius: $b-radius-lg;
      box-shadow: 0 0 5px 0 $c-grey00;
      top: $h-header-sm;
      bottom: 20px;
      background: $c-grey100;
      transition:
         translate 0.5s ease-in,
         opacity 0s linear 0.5s;
      translate: calc(100svw + 14px) 0;
      padding: 30px;
   }

   @include media.md-only {
      top: $h-header-md;
      right: $pi-container-md;
      left: $pi-container-md;
   }

   @include media.lg-up {
      width: 100%;
      justify-content: center;
      gap: 60px;
   }

   &--active {
      opacity: 1;
      transition:
         translate 0.5s ease-in,
         opacity 0s;
      translate: 0;
   }
}

.header__navItem {
   color: $c-grey00;
   font-size: functions.rem(18);
   transition: color 0.1s ease-in;
   cursor: pointer;

   @include media.lg-up {
      font-size: functions.rem(20);
   }

   &:hover {
      color: $c-grey70;
   }
}
