@use "src/styles/helpers/media";
@use "src/styles/helpers/functions";

.section {
   padding-block: 60px;

   @include media.md-up {
      padding-block: 80px;
   }

   @include media.lg-up {
      padding-block: 100px;
   }

   @include media.xl-up {
      padding-block: 120px;
   }

   &--gray {
      background-color: $c-grey90;
   }
}
