@use "src/styles/helpers/media";
@use "src/styles/helpers/functions";

$slideWidthLg: 800px;
$slideWidthXl: 1000px;

.videoCarousel__slides {
   display: flex;
   align-items: center;
   overflow-x: scroll;
   margin-inline: calc($pi-container-xs * -1);

   @include media.md-up {
      margin-inline: calc($pi-container-md * -1);
   }

   @include media.lg-up {
      margin-inline: calc($pi-container-lg * -1);
      padding-inline: calc((100% - $slideWidthLg) / 2);
   }

   @include media.xl-up {
      margin-inline: calc((100vw - $w-container) / -2);
      padding-inline: calc((100vw - $slideWidthXl) / 2);
   }

   &::-webkit-scrollbar {
      display: none;
   }
}

.videoCarousel__slide {
   min-width: calc(100% - ($pi-container-xs * 2));
   padding-inline: $pi-container-xs;
   pointer-events: none;

   @include media.md-up {
      min-width: calc(100% - ($pi-container-md * 2));
      padding-inline: $pi-container-md;
   }

   @include media.lg-up {
      min-width: $slideWidthLg;
      padding-inline: 20px;
   }

   @include media.xl-up {
      min-width: $slideWidthXl;

      &:first-child {
         padding-left: 0;
      }
   }
}

.videoCarousel__slideVideo {
   display: flex;
   align-items: center;
   position: relative;
   overflow: hidden;
   aspect-ratio: 1;
   background: $c-grey100;
   border-radius: $b-radius;

   @include media.md-up {
      aspect-ratio: 1.7;
   }

   @include media.lg-up {
      aspect-ratio: 2;
   }

   @include media.xl-up {
      aspect-ratio: 1.7;
   }
}

.videoCarousel__slideVideoInner {
   position: relative;

   video {
      height: 100%;
      width: 100%;
   }
}

.videoCarousel__slideText {
   position: absolute;
   top: 10px;
   left: 30px;
   font-size: functions.rem(16);
   line-height: 1.4;

   @include media.md-up {
      font-size: functions.rem(20);
      line-height: 1.4;
   }

   @include media.lg-up {
      font-size: functions.rem(22);
      line-height: 1.4;
   }

   @include media.xl-up {
      font-size: functions.rem(24);
      line-height: 1.4;
   }
}

.videoCarousel__bulletsBlock {
   position: relative;
   display: flex;
   justify-content: center;
   margin-top: 30px;
   gap: 20px;
}

.videoCarousel__bullets {
   padding: 16px 30px;
   background-color: $c-grey80;
   border-radius: $b-radius-round;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
}

.videoCarousel__bullet {
   position: relative;
   overflow: hidden;
   height: 10px;
   width: 10px;
   background-color: $c-grey50;
   border-radius: $b-radius-round;
}

.videoCarousel__bulletInner {
   position: absolute;
   inset: 0;
}

.videoCarousel__controlBtn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50px;
   aspect-ratio: 1;
   background-color: $c-grey80;
   border-radius: $b-radius-round;
   border: unset;
   cursor: pointer;
   transition: all 0.1s ease;

   &:hover {
      background-color: $c-grey70;
   }

   img {
      height: 20px;
   }
}
