@use "src/styles/helpers/media";
@use "src/styles/helpers/functions";

.highlights {
   background-color: $c-grey90;
   margin-block: 0;
   padding-block: 60px;

   @include media.lg-up {
      padding-block: 80px;
   }

   @include media.xl-up {
      padding-block: 100px;
   }
}

.highlights__title-block {
   margin-bottom: 40px;

   @include media.lg-up {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;
   }
}

.highlights__title {
   opacity: 0;
   transition: opacity 0.1s ease-in;
   margin-bottom: 20px;

   @include media.lg-up {
      margin-bottom: 0;
   }
}

.highlights__watchBtns {
   display: flex;
   flex-direction: row;
   gap: 30px;
}

.highlights__watchBtn {
   opacity: 0;
   transform: translateY(40px);
   display: flex;
   flex-direction: row;
   gap: 7px;
   white-space: nowrap;
   color: $c-link;

   img {
      max-height: 18px;
   }
}
