@use "src/styles/helpers/media";
@use "src/styles/helpers/functions";

.model {
}

.model__title {
   opacity: 0;
}

.model__container {
   display: flex;
   flex-direction: column;
   justify-items: center;
   margin-top: 5px;
}

.model__inner {
   position: relative;
   width: 100%;
   height: 75vh;
   overflow: hidden;

   @include media.lg-up {
      height: 90vh;
   }
}

.model__canvas {
   width: 100%;
   height: 100%;
   position: fixed;
   inset: 0;
   overflow: hidden;
}

.model__name {
   color: $c-grey30;
   text-align: center;
   margin-bottom: 30px;
}

.model__colorsBlock {
   display: flex;
   align-items: center;
   justify-items: center;
   border-radius: $b-radius-round;
   background-color: $c-grey90;
   margin-inline: auto;
   padding: 15px 30px;
   width: max-content;
}

.model__colorsList {
   display: flex;
   flex-direction: row;
   gap: 15px;
}

.model__colorOption {
   width: 25px;
   aspect-ratio: 1;
   border-radius: $b-radius-round;
   cursor: pointer;
}
